node_modules/
dist/
.DS_Store
*.log
*.lock
*.tmp
*.swp
.env
.env.*
*.db
*.db-journal
server/dist/
frontend/dist/
server/node_modules/
frontend/node_modules/
server/.env
frontend/.env
server/prisma/dev.db
server/prisma/dev.db-journal

