[package]
name = "aggregator"
version = "0.1.0"
edition.workspace = true
license.workspace = true
publish = false

[dependencies]
serde.workspace = true
serde_json.workspace = true
sp1-zkvm.workspace = true
thiserror.workspace = true

[build-dependencies]
sp1-build.workspace = true
